.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  width: calc(
    33.33% - 20px
  ); /* Ancho de cada tarjeta, menos el espacio entre ellas */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-details {
  padding: 10px;
}

.product-title {
  margin-top: 0;
  font-size: 18px;
}

.product-description {
  font-size: 14px;
}

.product-price,
.product-discount {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
